* {
    padding: 0;
    margin: 0;
}

html {}

body {
    font-size: 62.5%;
}

.container {
    display: grid;
    /*sticky footer*/
    min-height: 100vh;
    grid-template-columns: 200px auto;
    grid-template-rows: 1.5rem 1fr 1.5rem;
    grid-template-areas: 'header header''left content''footer footer';
    font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', 'Yu Gothic', 'メイリオ', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.area-header {
    color: white;
    background: hsl(40, 1%, 90%);
    grid-area: header;
    text-align: center;
    font-size: 1rem;
}

.area-left {
    background: hsl(40, 1%, 80%);
    grid-area: left;
    font-size: 1rem;
}

/* .icon-bar { */
    /* width: auto; */
/* } */

/* .icon-bar a { */
    /* display: block; */
    /* text-align: center; */
    /* padding: 16px; */
    /* transition: all 0.3s ease; */
    /* color: white; */
    /* font-size: 1rem; */
/* } */

/* .icon-bar a:hover { */
    /* background-color: #000; */
/* } */

/* .active { */
    /* background-color: #aaa; */
/* } */

.area-content {
    background: hsl(40, 1%, 95%);
    grid-area: content;
    font-size: 1rem;
}

.area-footer {
    background: hsl(40, 1%, 90%);
    grid-area: footer;
    font-size: 1rem;
    text-align: center;
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

select {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

a {
    color: gray;
    text-decoration: none;
    transition: 1.0s;
}

a:hover {
    color: white;
}

img {
    z-index: 1;
}

p {
    color: #000;
}

form {}

textarea {
    position: relative;
    width: calc(100vw + -200px);
    height: 100px;
    resize: none;
    border: none;
    outline: none;
    overflow-wrap: break-word;
    white-space: pre-line;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 1rem;
    /* z-index: ; */
    /* &:valid { */
    /* // Hides the label */
    /* background: white; */
    /* } */
    /* &:focus { */
    /* border-color: #f06d06; */
    /* } */
    /* &:focus+label { */
    /* background: #f06d06; */
    /* color: white; */
    /* font-size: 70%; */
    /* z-index: 2; */
    /* text-transform: uppercase; */
    /* } */
}

.active {
    stroke: #000;
    stroke-width: 1px;
}

label {
    /* transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s; */
    /* margin-top: 10vh; */
    color: #999;
    font-size: 1rem;
}

/* textarea { */
/* display: block; */
/* resize: none; */
/* } */
/* go-right */
/* .area-content>label { */
/* right: 100%; */
/* width: 100%; */
/* margin-right: -100%; */
/* } */
/* textarea:focus+label { */
/* right: 0; */
/* margin-right: 0; */
/* width: 40%; */
/* padding-top: 5px; */
/* } */
textarea::placeholder {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    /* text-transform: uppercase; */
    opacity: 0.3;
}

#heatmap-main {
    position: relative;
    width: calc(100vw + -200px);
    height: calc(100vh + -40px + -100px + -50px);
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

@media (max-width: 511px) {
    .container {
        grid-template-areas: "header""content""footer";
        grid-template-columns: 1fr;
        grid-template-rows: autoHeader 1frContent auto;
    }

    .area-left {
        display: none;
    }

    textarea {
        width: 100vw;
    }

    #heatmap-main {
        width: 100vw;
        /* height: 100vh; */
    }
}

@media screen and (max-width: 768px) and(orientation: landscape) {
    textarea {
        height: 1rem;
    }
}
